<h3>Perfil Profesional</h3>


<div class="row">
	<div class="col-md-12">
		<p>
			Desarrollador Profesional .Net
			<br />
			Experiencia en arquitectura, desarrollo web y mobile multiplataforma.
			<br />
		</p>
		<p><b>Email: </b> @email </p>
		<p><b>Github: </b> @github </p>
	</div>
</div>

@code{
	[Parameter]
	public string? email {get; set;}
	[Parameter]
	public string? github { get; set; }
}